<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038946239480-v20mfidng2tqhiqvbbrmsagmnbm59hud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038946239480-v20mfidng2tqhiqvbbrmsagmnbm59hud</string>
	<key>API_KEY</key>
	<string>AIzaSyBDICHCDVy3M6xXgi-86opdoFgDIJ9aeCA</string>
	<key>GCM_SENDER_ID</key>
	<string>1038946239480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IsmaelBanihamed.myoozik</string>
	<key>PROJECT_ID</key>
	<string>myoozik-c99da</string>
	<key>STORAGE_BUCKET</key>
	<string>myoozik-c99da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038946239480:ios:52762eaa166df7d06f0c0d</string>
	<key>DATABASE_URL</key>
	<string>https://myoozik-c99da.firebaseio.com</string>
</dict>
</plist>